<h2 class="text-center fs-5 mb-10">بازیابی رمز عبور</h2>


@if (!otpSent()) {
  <form (submit)="sendOtp()" [formGroup]="otpForm" class="col-6 m-auto">
    <div class="card-body mt-10">
      @if (statusCode() == 404) {
        <div class="alert alert-danger">کاربر مورد نظر یافت نشد.</div>
      }
      <div>
        <app-input class="inp-ltr" formControlName="phoneNumber" inputType="text" label="شماره تلفن همراه"></app-input>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a [routerLink]="['/auth', 'sign-in']" class="text-decoration-none d-block p-3 pe-0 fs-7">ورود به حساب کاربری</a>
    </div>

    <div class="row mt-5">
      <div class="mx-auto">
        <button [submitButton]="otpButtonStatus()" class="btn btn-primary w-100" proccessingText="در حال ارسال..."
                type="submit">ارسال کد یک بار مصرف
        </button>
      </div>
    </div>
  </form>
} @else {
  <form (submit)="resetPassword()" [formGroup]="resetPasswordForm" class="col-6 m-auto">
    <div class="card-body mt-10">
      <div class="alert alert-success justify-content-between align-items-center d-flex">
        <span> کد یکبار مصرف به شماره{{ phoneOtpFormControl.value }} ارسال شد.</span>
        <button class="btn btn-outline-primary p-3 fs-8 py-2" (click)="return()"
                type="button">تغییر شماره
        </button>
      </div>
      @if (statusCode() == 401) {
        <div class="alert alert-danger">کد یک بار مصرف وارد شده صحیح نمی باشد.</div>
      }
      <div class="mt-5">
        <app-input class="inp-ltr" formControlName="otp" inputType="text" label="کد ارسال شده"></app-input>
      </div>
      <div class="mt-5">
        <app-input class="inp-ltr" formControlName="newPassword" inputType="text" label="رمز عبور جدید"></app-input>
      </div>
      <!--      <div class="mt-5">-->
      <!--        <app-input class="inp-ltr" formControlName="newPassword" inputType="text" label="تکرار رمز عبور جدید"></app-input>-->
      <!--      </div>-->
    </div>
    <div class="d-flex justify-content-end">
      <a [routerLink]="['/auth', 'sign-in']" class="text-decoration-none d-block p-3 pe-0 fs-7">ورود به حساب کاربری</a>
    </div>

    <div class="row mt-5 gap-5">

      <button class="btn text-primary col-auto px-5" (click)="return()"
              type="button">بازگشت
      </button>
      <button [submitButton]="resetButtonStatus()" class="btn btn-primary col" proccessingText="در حال ارسال..."
              type="submit">تغییر رمز عبور
      </button>
    </div>
  </form>
}


