@import "custom-variables";


app-dropdown{
  ul{
    list-style-type: none;
    margin: 0;
    max-height: 230px;
    overflow-y: auto;

    &>li:hover {
      background-color: $light;
    }
  }

  &>.active {
    z-index: 15;
  }

}
