<label *ngIf="label && showLabel" class="mb-2">
  <span *ngIf="isRequired" class="text-danger">*</span>
  <span class="fw-400 fs-7">{{ label }}</span>
</label>

<ng-container *ngIf="!inputTemplate">
  <div class="position-relative">
    @if (inputType === 'price') {
      <input (blur)="onBlur()" (input)="onInput($event)"
             [disabled]="disabled()"
             [value]="value() == undefined ? '' : value()"
             class="form-control" [ngClass]="inputClass"
             [placeholder]="(showPlaceHolder && (label || placeholder)) ?  ((placeholder) ? placeholder : label + ' را وارد کنید') : ''"
             [type]="inpType" [autocomplete]="autocomplete" priceInput>
    } @else {
      <input (blur)="onBlur()" (input)="onInput($event)" *ngIf="inputType != 'text-area'"
             [disabled]="disabled()"
             [value]="value() == undefined ? '' : value()"
             class="form-control" [ngClass]="inputClass"
             [placeholder]="(showPlaceHolder && (label || placeholder)) ?  ((placeholder) ? placeholder : label + ' را وارد کنید') : ''"
             [type]="inpType" [autocomplete]="autocomplete">
    }
    <span *ngIf="group" class="position-absolute end-0 top-0 m-4">{{ group }}</span>
    @if (inputType === 'password') {
      <button (click)="showPassword()" class="btn position-absolute end-0 top-0"
              type="button">
        @if (IconPassword) {
          <i class="bi bi-eye-slash"></i>
        } @else {
          <i class="bi bi-eye"></i>
        }
      </button>
    }
    @if (inputType === 'password') {
      <button (click)="showPassword()" class="btn position-absolute end-0 top-0"
              type="button">
        @if (IconPassword) {
          <i class="bi bi-eye-slash"></i>
        } @else {
          <i class="bi bi-eye"></i>
        }
      </button>
    }
  </div>

  <textarea (blur)="onBlur()" (input)="onInput($event)" *ngIf="inputType == 'text-area'"
            [disabled]="disabled()"
            [value]="value() == undefined ? '' : value()" class="form-control"
            [placeholder]="(showPlaceHolder && (label || placeholder)) ?  ((placeholder) ? placeholder : label + ' را وارد کنید'): ''"
            rows="5">
  </textarea>
</ng-container>

<ng-container *ngIf="inputTemplate">
  <ng-container *ngTemplateOutlet="inputTemplate"></ng-container>
</ng-container>

<ul *ngIf="myControl?.touched && myControl?.errors" class="text-danger mt-2 p-0 mb-0 text-start">
  <li *ngIf="myControl?.errors?.['required']">{{ label }} الزامی است.</li>
  <li *ngIf="myControl?.errors?.['maxlength']"> تعداد حداکثر
    کاراکتر {{ label }} {{ myControl?.errors?.['maxlength'].requiredLength }} می باشد.
  </li>
  <li *ngIf="myControl?.errors?.['minlength']"> تعداد حداقل
    کاراکتر {{ label }} {{ myControl?.errors?.['minlength'].requiredLength }} می باشد.
  </li>
  <li *ngIf="myControl?.errors?.['email']">{{ label }} قالب ایمیل صحیح نیست</li>
  <li *ngIf="myControl?.errors?.['pattern']"> قالب{{ label }} صحیح نیست</li>
  <li *ngIf="myControl?.errors?.['max']"> حداکثر مقدار باید {{ myControl?.errors?.['max'].max }} باشد.</li>
</ul>
