@import "custom-variables";

.file-upload {
  position: relative;
  border: 2px dashed rgba(var(--bulud-primary-rgb), 0.7);
  padding: 16px;
  border-radius: $border-radius;
  color: var(--bulud-text-muted);
  text-align: center;
  display: flex;
  flex-direction: column;

  & > input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  &>div.disabled {
    opacity: 0.7;
  }
}
