<div class="file-upload text-muted fs-8">


  <ng-container *ngIf="!showPreview">
    <ng-container *ngIf="progress() < 101">
      <ng-container *ngTemplateOutlet="control"></ng-container>
    </ng-container>
    <ng-container *ngIf="image() && progress() > 100">
      <ng-container *ngTemplateOutlet="preview"></ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="showPreview">
    <ng-container *ngIf="!image()">
      <ng-container *ngTemplateOutlet="control"></ng-container>
    </ng-container>
    <ng-container *ngIf="image()">
      <ng-container *ngTemplateOutlet="preview"></ng-container>
    </ng-container>
  </ng-container>

  <div *ngIf="progress() > 0 && progress() < 101" class="mt-5">
    <p>در حال بارگذاری...</p>
    <app-progressbar [percent]="progress()"></app-progressbar>
  </div>
</div>

<ng-template #control>
  <input (change)="fileSelected($event)" [disabled]="progress() > 0" type="file">
  <div [class.disabled]="progress() > 0" class="d-flex flex-column">
    <i class="bi bi-upload fs-3 my-3"></i>
    <span>فایل ها را اینجا رها کنید</span>
    <span class="my-3">یا</span>
    <button [disabled]="progress() > 0" class="btn btn-outline-primary rounded-pill p-2 fs-8">انتخاب کنید</button>
  </div>
</ng-template>

<ng-template #preview>
  <img [src]="image()" class="w-100 rounded" alt="">
  <button (click)="removeFile()" class="btn btn-danger mt-2 py-1 gap-2 col-12" type="button">
    <i class="bi bi-trash fs-6 me-2"></i>
    <span>حذف</span>
  </button>
</ng-template>

