<div class="row gap-4">
    <div class="card card-flush py-4 col-7">
      <div class="card-header">
        <div class="card-title">
          <h2 class="fs-5">ورودی ها</h2>
        </div>
      </div>
      <div class="card-body">
        <div class="mb-5 row align-items-start">
          <app-input class="col" inputType="text" label="نام"></app-input>
        </div>

        <div class="mb-5 row align-items-start">
          <app-dropdown [items]="roles" [searchable]="true" class="col" label="نقش کاربر" valueField="name">
            <ng-template #selectedItemTemplate let-selected>
              <div>{{ selected.displayName }}</div>
            </ng-template>
            <ng-template #itemTemplate let-model>
              <div class="px-4 py-2">{{ model.displayName }}</div>
            </ng-template>
          </app-dropdown>
        </div>
        <div class="mb-5 row align-items-start">
          <div class="col">
            <label [for]="'Read-' + 2" class="me-1">ورودی تست</label>
            <input type="checkbox" [id]="'Read-' + 2" class="form-check-input">
          </div>
          <div class="col">
            <label [for]="'Read-' + 3" class="me-1">ورودی تست</label>
            <input type="checkbox" [id]="'Read-' + 3" class="form-check-input">
          </div>
          <div class="col">
            <label [for]="'Read-' + 4" class="me-1">ورودی تست</label>
            <input type="checkbox" [id]="'Read-' + 4" class="form-check-input">
          </div>
        </div>
        <div class="mb-5 row align-items-start">
          <app-input autocomplete="new-password" class="col" inputType="password"
                     label="رمز عبور"></app-input>
        </div>
        <div class="mb-5 row align-items-start">
          <app-datetime-picker class="col"
                     label="تاریخ"></app-datetime-picker>
        </div>
        <div class="mb-5 row align-items-start">
          <app-file-upload></app-file-upload>
        </div>
      </div>
    </div>

  <div class="card card-flush py-4 col-7">
    <div class="card-header">
      <div class="card-title">
        <h2 class="fs-5">دکمه ها</h2>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-5 row align-items-start">
        <button class="btn btn-primary col">تست</button>
        <button class="btn btn-secondary col">تست</button>
        <button class="btn btn-info col">تست</button>
        <button class="btn btn-warning col">تست</button>
        <button class="btn btn-danger col">تست</button>
        <button class="btn btn-dark col">تست</button>
        <button class="btn btn-light col">تست</button>
      </div>

      <div class="mb-5 row align-items-start">
        <button class="btn btn-outline-primary col">تست</button>
        <button class="btn btn-outline-secondary col">تست</button>
        <button class="btn btn-outline-info col">تست</button>
        <button class="btn btn-outline-warning col">تست</button>
        <button class="btn btn-outline-danger col">تست</button>
        <button class="btn btn-outline-dark col">تست</button>
        <button class="btn btn-outline-light col">تست</button>
      </div>
    </div>
  </div>

  <div class="card card-flush py-4 col-7">
    <div class="card-header">
      <div class="card-title">
        <h2 class="fs-5">هشدار ها</h2>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-5 row align-items-start">
        <div class="alert alert-success">نام کاربری یا رمز عبور اشتباه است !</div>
        <div class="alert alert-danger">نام کاربری یا رمز عبور اشتباه است !</div>
        <div class="alert alert-warning">نام کاربری یا رمز عبور اشتباه است !</div>
        <div class="alert alert-info">نام کاربری یا رمز عبور اشتباه است !</div>
        <div class="alert alert-light">نام کاربری یا رمز عبور اشتباه است !</div>
        <div class="alert alert-dark">نام کاربری یا رمز عبور اشتباه است !</div>
      </div>
    </div>
  </div>

  <div class="card card-flush py-4 col-7">
    <div class="card-header">
      <div class="card-title">
        <h2 class="fs-5">تایپوگرافی</h2>
      </div>
    </div>
    <div class="card-body">
      <div class="mb-5 row align-items-start">
        <p class="fs-1">متن تست برای تایپوگرافی</p>
        <p class="fs-2">متن تست برای تایپوگرافی</p>
        <p class="fs-3">متن تست برای تایپوگرافی</p>
        <p class="fs-4">متن تست برای تایپوگرافی</p>
        <p class="fs-5">متن تست برای تایپوگرافی</p>
        <p class="fs-6">متن تست برای تایپوگرافی</p>
        <p class="fs-7">متن تست برای تایپوگرافی</p>
      </div>
    </div>
  </div>


</div>
