<form (submit)="edit()" [formGroup]="form" class="not-printable">
  <div class="row">
    <div class="col">
      <div class="card card-flush py-4">
        <div class="card-header">
          <div class="card-title">
            <h2 class="fs-5">اطلاعات نقش</h2>
          </div>
        </div>
        <div class="card-body">

          <div class="mb-5 row align-items-start">
            <app-input class="col" formControlName="name" inputType="text" label="نام"></app-input>
            <app-input class="col" formControlName="displayName" inputType="text" label="نام نمایشی"></app-input>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <div class="row">
        <div class="card card-flush col py-4">
          <div class="card-header">
            <div class="card-title">
              <h2 class="fs-5">عملیات</h2>
            </div>
          </div>
          <div class="card-body">
            <div class="mb-5">
            </div>
          </div>
          <div class="col d-flex gap-5 justify-content-end">
            <a [routerLink]="['/admin', 'roles', 'list']" class="btn">بازگشت</a>
            <button [class.disabled]="form.invalid"
                    [submitButton]="buttonStatus()" class="btn btn-primary" type="submit">
              ذخیره
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-10 py-4">
      <div class="card card-flush py-4">
        <div class="card-header">
          <div class="card-title">
            <h2 class="fs-5">دسترسی ها</h2>
          </div>
        </div>
        <div class="card-body" formArrayName="permissions">
          @for (resource of permissionsResources; track resource.name; let i = $index) {
            <div class="mb-5 row align-items-start border-1 pb-5 border-bottom" [formGroupName]="i">
              <label class="col-2">{{ resource.displayName }}</label>
              <div formGroupName="actions" class="d-flex gap-5 col">
                <div>
                  <label [for]="'Create-' + i" class="me-1">افزودن</label>
                  <input type="checkbox" [id]="'Create-' + i" class="form-check-input" formControlName="C">
                </div>
                <div>
                  <label [for]="'Read-' + i" class="me-1">خواندن</label>
                  <input type="checkbox" [id]="'Read-' + i" class="form-check-input" formControlName="R">
                </div>
                <div>
                  <label [for]="'Update-' + i" class="me-1">ویرایش</label>
                  <input type="checkbox" [id]="'Update-' + i" class="form-check-input" formControlName="U">
                </div>
                <div>
                  <label [for]="'Delete-' + i" class="me-1">حذف</label>
                  <input type="checkbox" [id]="'Delete-' + i" class="form-check-input" formControlName="D">
                </div>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
</form>

<!--<pre dir="ltr">-->
<!--  {{ form.value | json }}-->
<!--</pre>-->
