@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 100;
    src: url(/assets/fonts/rtl/iranyekanwebthin.eot);
    src: url(/assets/fonts/rtl/iranyekanwebthin.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebthin.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebthin.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 300;
    src: url(/assets/fonts/rtl/iranyekanweblight.eot);
    src: url(/assets/fonts/rtl/iranyekanweblight.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanweblight.woff2) format("woff2"),
        url(/assets/fonts/rtl/iranyekanweblight.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanweblight.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/rtl/iranyekanwebregular.eot);
    src: url(/assets/fonts/rtl/iranyekanwebregular.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebregular.woff2) format("woff2"),
        url(/assets/fonts/rtl/iranyekanwebregular.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebregular.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 500;
    src: url(/assets/fonts/rtl/iranyekanwebmedium.eot);
    src: url(/assets/fonts/rtl/iranyekanwebmedium.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebmedium.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebmedium.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/rtl/iranyekanwebbold.eot);
    src: url(/assets/fonts/rtl/iranyekanwebbold.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebbold.woff2) format("woff2"),
        url(/assets/fonts/rtl/iranyekanwebbold.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebbold.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 800;
    src: url(/assets/fonts/rtl/iranyekanwebextrabold.eot);
    src: url(/assets/fonts/rtl/iranyekanwebextrabold.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebextrabold.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebextrabold.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 900;
    src: url(/assets/fonts/rtl/iranyekanwebblack.eot);
    src: url(/assets/fonts/rtl/iranyekanwebblack.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebblack.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebblack.ttf) format("truetype")
}

@font-face {
    font-display: swap;
    font-family: IRANYekan;
    font-style: normal;
    font-weight: 950;
    src: url(/assets/fonts/rtl/iranyekanwebextrablack.eot);
    src: url(/assets/fonts/rtl/iranyekanwebextrablack.eot) format("embedded-opentype"),
        url(/assets/fonts/rtl/iranyekanwebextrablack.woff) format("woff"),
        url(/assets/fonts/rtl/iranyekanwebextrablack.ttf) format("truetype")
}