.form-container {
  width: 210mm;
  padding: 10mm;
  font-family: 'Tahoma', sans-serif;
  direction: rtl;
  text-align: justify;
}
.underline {
   display: inline-block;
   border-bottom: 1px dotted black;
   min-width: 30mm;
   height: 6mm;
   margin: 0 2mm;
   vertical-align: bottom;
 }
.underline.short {
  min-width: 20mm;
}
.form-header{
  margin-bottom: 5mm;
}
.form-header-title{
  margin-bottom: 5mm;
  text-align: right;
}
.info-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10mm;
  margin-bottom: 5mm;
}

.info-table th, .info-table td {
  border: 1px solid #000;
  padding: 2mm;
  text-align: center;
}

@media print {
  button {
    display: none;
  }
}
