<section class="row align-items-start flex-column" *ngIf="member() as memberData">
  <div class="col">
    <div class="row p-3 ">
      <div class="col-2 bg-light rounded-3 p-0">
        @if (member()?.personalImage) {
          <app-secure-img [url]="member()?.personalImage" class="w-100"></app-secure-img>
        } @else {
          <img alt="person-avatar" class="w-100 border border-dark-subtle"
               [src]="fileBase + '/assets/images/avatar-default.webp'">
        }
      </div>
      <div class="col px-5">
        <div class="d-flex align-items-center">
          <span class="fs-3 fw-bold">{{ memberData.firstName }} {{ memberData.lastName }}</span>
          <span class="badge badge-secondary text-bg-success fs-8 mx-5"
                *ngIf="memberData.marriage">{{ marriageStatusTranslations[memberData.marriage] }}</span>
          <span
            class="badge badge-secondary text-bg-success fs-8" [class.text-bg-danger]="memberData.deadAt != null"
            [class.text-bg-success]="memberData.deadAt == null">{{ memberData.deadAt === null ? "در قید حیات" : "فوت شده" }}</span>
        </div>
        <div class="py-5 gap-4 text-muted row align-items-center">
          <span class="col-auto">نام پدر: <span class="fw-bold">{{ memberData.fathersName }}</span></span>
          <div class="col-auto">
            <i class="bi bi-geo-alt-fill me-2 fs-5"></i>
            <span class="align-middle">{{ memberData.county?.province?.name }} {{ memberData.county?.name }}</span>
          </div>
          <div class="col-auto">
            <i class="bi bi-phone-fill me-2 fs-5"></i>
            <span class="align-middle">{{ memberData.mobileNumber | persianDigits }}</span>
          </div>
        </div>
        <div class="pb-5 gap-4 text-muted row align-items-center">
          <span class="col-auto"> جنسیت: <span
            class="fw-bold ms-2">{{ genderTranslations[memberData.gender] }}</span></span>
          <span class="col-auto"> شماره شناسنامه: <span
            class="fw-bold ms-2">{{ memberData.idCode | persianDigits }}</span></span>
          <span class="col-auto"> کدملی: <span
            class="fw-bold ms-2">{{ memberData.nationalCode | persianDigits }}</span></span>
          <span class="col-auto"> تاریخ تولد: <span
            class="fw-bold ms-2">{{ memberData.birthDate | toShamsi | persianDigits }}</span></span>
        </div>
        <div class="pb-5 gap-4 text-muted row align-items-center">
          <span class="col-auto"> آدرس: <span
            class="fw-bold ms-2">{{ memberData.address | persianDigits }}</span></span>
          <span class="col-auto"> کد پستی: <span
            class="fw-bold ms-2">{{ memberData.postalCode | persianDigits }}</span></span>
        </div>
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col d-flex flex-wrap gap-3">
      <div class="col-auto border p-3 rounded text-center">
        <div class="fw-bold fs-7 mb-2 text-muted">کد مستمری</div>
        <span class="fs-4 fw-bolder">{{ memberData.retirementCode | persianDigits }}</span>
      </div>
      <div class="col-auto border p-3 rounded text-center">
        <div class="fw-bold fs-7 mb-2 text-muted">تاریخ بازنشستگی</div>
        <span class="fs-4 fw-bolder">{{ memberData.retirementDate | toShamsi | persianDigits }}</span>
      </div>
      <div class="col-auto border p-3 rounded text-center">
        <div class="fw-bold fs-7 mb-2 text-muted">محل بازنشستگی</div>
        <span class="fs-4 fw-bolder">{{ memberData.retirementPlace }}</span>
      </div>
      <div class="col-auto border p-3 rounded text-center">
        <div class="fw-bold fs-7 mb-2 text-muted">تحصیلات</div>
        <span class="fs-4 fw-bolder"
              *ngIf="memberData.educationalDegree">{{ educationDegreeTranslations[memberData.educationalDegree] }}</span>
      </div>
      <div class="col-auto border p-3 rounded text-center">
        <div class="fw-bold fs-7 mb-2 text-muted">بیمه تکمیلی</div>
        @if (insurances() === 0) {
          <span class="fs-4 fw-bolder text-danger">ندارد</span>
        } @else {
          <span class="fs-4 fw-bolder text-success">دارد</span>
        }
      </div>
      @if (memberData.mainMember) {
        <div class="col-auto border p-3 rounded text-center">
          <div class="fw-bold fs-7 mb-2 text-muted">بازمانده</div>
          <a class="fs-5 fw-bolder"
             [routerLink]="['/admin', 'members', 'details', memberData.mainMember.id]">{{ memberData.mainMember.firstName + ' ' + memberData.mainMember.lastName }}</a>
        </div>
      }
    </div>
  </div>
</section>
