<div class="card card-flush p-4 mb-5">
  <div class="row justify-content-between align-items-center">
    <div class="row flex-wrap justify-content-between align-items-center">
      <div class="col-auto row">
        <div class="col-auto border-end d-flex justify-content-between align-items-center gap-3">
          <span>تعداد کل کاربران :</span>
          <span class="fs-1 fw-bold">100</span>
        </div>
        <div class="col-auto d-flex justify-content-between align-items-center gap-3">
          <span>تعداد  مدیران :</span>
          <span class="fs-2 fw-bold">10</span>
        </div>
      </div>
      <div class="px-0 col-auto">
        <app-button-group [items]="exporters"
                          label="دانلود"></app-button-group>
      </div>
    </div>
  </div>
</div>

<div class="card card-flush p-4 mb-5">
  <div class="row justify-content-between align-items-center">
    <div class="row flex-wrap align-items-center">
      <span class="col-auto">فیلتر براساس :</span>
      <app-dropdown [datasetFilter]="['gender']"
                    [hasReset]="true"
                    [items]="genderFilters"
                    [selectedItem]="genderFilters[0]"
                    class="col-3"
                    label="جنسیت">
        <ng-template #selectedItemTemplate let-selected>
          <div>{{ selected.text }}</div>
        </ng-template>
        <ng-template #itemTemplate let-model>
          <div class="px-4 py-2">{{ model.text }}</div>
        </ng-template>
      </app-dropdown>

    </div>
  </div>
</div>

<div class="p-4 card card-flush">
  <div class="row justify-content-between align-items-center mb-5">
    <div class="row col-8">
      <app-input [datasetSearch]="['nationalCode']"
                 class="col-4 inp-ltr"
                 label="جستجو براساس کدملی"
                 libInputFilter="[0-9]"
                 placeholder="کدملی را وارد کنید"
                 type="text"></app-input>

    </div>
    <div class="col-auto">
      <a [routerLink]="['/admin/users/add']" class="btn btn-primary">
        <i class="bi bi-person-plus fs-4 me-2 align-middle"></i>
        کاربر جدید</a>
    </div>
  </div>
  <table class="table not-printable">
    <thead>
    <tr>
      <th>نام و نام خانوادگی</th>
      <th>شماره موبایل</th>
      <th>نقش</th>
      <th></th>
    </tr>
    </thead>
    <tbody>

      @for (user of users(); track user.id) {
        <tr>
          <td>{{ user.firstName }} {{ user.lastName }}</td>
          <td>{{ user.phoneNumber | persianDigits }}</td>
          <td>
            <span *ngIf="user.roles && user.roles.length">{{ user.roles[0] }}</span>
          </td>
          <td>
            <a [routerLink]="['/admin/users/edit', user.id]" class="btn btn-info me-3">جزئیات</a>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="row justify-content-between">
    <div class="col-auto">
      <select [value]="listQuery.length || 10" class="form-select form-control-solid" pageLength>
        <option>10</option>
        <option>25</option>
        <option>50</option>
        <option>100</option>
      </select>
    </div>
    <app-pagination [totalRecords]="total()" class="col-auto"></app-pagination>
  </div>

</div>

